<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PAN Analysis</title>
  </head>
  <body>
    <nav>
      <div
        class="text-center text-4xl font-bold bg-red-500 text-white py-10 px-14"
      >
        PAN Card verification
      </div>
    </nav>

    <form
      action="/"
      method="post"
      class="mt-20 text-center"
      enctype="multipart/form-data"
    >
      <div>
        <div></div>

        <div>
          <div>
            <label for="first_name" class="text-2xl font-semibold"
              ><b>Upload Pan Card Image</b></label
            ><br />
            <div>
              <div class="pt-6">
                <!-- <span class="">Browse</span> -->
                <input type="file" name="file_upload" id="file_upload" />
              </div>
              <div>
                <input  type = "text" placeholder = "Upload file" name="file_name" id="file_name" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="px-10 py-4 bg-red-500 rounded-lg text-white mt-8"
        >
          Check
        </button>
      </div>
    </form>
    <div class="text-center pt-7">
      <h5  class="text-green-700 font-bold text-xl">{{pred}}</h5>
    </div>
  </body>
  <script type="text/javascript">
    document.getElementById("file_upload").onchange = function () {
      document.getElementById("file_name").value = this.value.slice(12, 100);
    };
  </script>
</html>
